/* Estilos para la página Café */

/* Selector Universal */
*{
    padding: 0;
    margin: 0;
}

/* Selector de etiqueta */

body {
    background-color: #f1ecea;
    color: #f1ecea;
}

/* Selector de clase */

.texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    padding: 5px 25px;
    color: white;
}

.encabezado {
    padding: 10px;
    text-align: center;
    background-color: #34251c;
    color: rgb(255, 255, 255);
    margin: 1em 2em;
    border-radius: 5px;
}

.menu-aside{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 25px;
}

.lista-aside{
    padding: 10 px;
}

.lista-aside li{
    display: flex;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 2px;
    list-style: square;
}

/* Selector ID */
#contenedor{
    width: 900px;
    height: 1000px;
    background-color: #34251c;
    max-width: 0 auto;
    border-radius: 5px;
}

#encabezado{
    width: 15%;
    background-color: #3a251c;
    margin: 1em;
    padding: 0 50px;
    border-radius: 5px;
}

#menu {
    height: 5%;
    background-color: #b46424;
    margin: 0;
    border-radius: 5px;
}

#contenido {
    height: 75%;
    width: 60%;
    background-color: #362f2f;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}

#fueraSeccion {
    height: 75%;
    width: 35%;
    background-color: #b58c7c;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}

#pie {
    height: 10%;
    background-color: #3a251c;
    text-align: center;
    padding: 5px;
}

#pie h4 {
    padding: 15px;
    font-size: 30px;
}

/* Selector de etiqueta */

ul{
    padding: 15px;
    font-size: 20px;
}

li{
    text-align: center;
    display: inline;
    padding: 10px 30px;
    margin: 0;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 1px;
    padding: 5px;
    justify-items: center;
    object-fit: cover;
}

/* Selector de evento */

li a:hover{
    color: crimson;
    text-decoration: none;
    list-style: none;
}