/* Estilos para una página personal de investigación */

/* Selector Universal */
*{
    padding: 0;
    margin: 0;
}

/* Selector de etiqueta */

body {
    background-color: #f1ecea;
    color: #f1ecea;
}

/* Selector de clase */

.texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 45px;
    color: white;
}

.encabezado {
    padding: 10px;
    text-align: center;
    background-color: #34251c;
    color: rgb(255, 255, 255);
    margin: 1em 2em;
    border-radius: 5px;
}

.menu-aside{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 25px;
}

.lista-aside{
    padding: 10 px;
}

.lista-aside li{
    display: flex;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 16px;
}

.image2 {
    width: 250px;
    height: 150px;
    border-radius: 5px;
    padding: 20px;
    justify-items: center;
    object-fit: cover;
}

/* Selector ID */
#contenedor{
    width: 900px;
    height: 1000px;
    background-color: #000080;
    max-width: 0 auto;
}

#encabezado{
    width: 50%;
    margin: 0.5em;
    padding: 15px;
    font-family: sans-serif;
    border-radius: 5px;
}

#menu {
    height: 5%;
    background-color: #D7BDE2;
    margin: 0;
}

#contenido {
    height: 78%;
    width: 64%;
    background-color: #000000;
    margin: 0;
    display: inline-block;
    text-align: center;
}

#fueraSeccion {
    height: 78%;
    width: 35%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    margin: 0;
    display: inline-block;
    vertical-align: top;
}

#pie {
    height: 10%;
    background-color: #C0C0C0;
    text-align: center;
    padding: 10px;
}

#pie h4 {
    padding: 15px;
    font-size: 30px;
}

/* Selector de etiqueta */

ul{
    padding: 15px;
    font-size: 20px;
}

li{
    text-align: justify;
    display: inline;
    padding: 10px 30px;
    margin: 0;
}

img {
    width: 480px;
    height: 250px;
    border-radius: 1px;
    padding: 5px;
    justify-items: center;
    object-fit: cover;
}
